<!DOCTYPE html>
<html>
<head>
  <title>Nostalgic</title>
  <%= stylesheet_link_tag    "nostalgic/application", media: "all" %>
  <%= javascript_include_tag "nostalgic/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
